.bar-item {
  &:hover {
    cursor: pointer;
    box-shadow: 0px -4px 0px $text inset;
  }
}

li {
  a {
    text-decoration: none;
  }
}

.flex-right{
  @include breakpoint(sm){
    display: none;
  }
}

.flex-left {
  flex: 1;
}

.col {
  @include flex-col;
  @include breakpoint(xs){
    display: none;
  }
}

.brand-logo {
  @include flex;
  height: 55px;
  padding-left: rem(20px);
  a{
    @include flex-row;
    @include full-center;
    align-content: center;
    text-decoration: none;
  }
  h1 {
    @include menu-item($text, 32px, none);
    padding-left: rem(10px);
    @include breakpoint(xs) {
      font-size: rem(20px);
    }
  }
}

.flex-row-center {
  padding-top:rem(10px);
  @include flex-row;
  width: 100%;
  background-color: $brand-color;
}


.profile-area {
  font-size: rem(18px);
  height: 100%;
  @include flex-center;
  *{
    color: $text;
    height: 100%;    
    line-height: rem(55px);
    width: rem(105px);
    text-align: center;
  }
}

.bars {
  @include breakpoint(lg){
    display: none;
  }
  @include breakpoint(xs) {
    color: white;
    font-size: rem(32px);
    padding: 0 10px 0;
    @include flex-center;
    width: 50px;
  }
  display: none;
}

